
.vs/BlankBase/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.obj
*.obj
*.obj
x64/Release/vdm.obj
*.pdb
*.obj
*.pdb
*.iobj
.vs/*
WinL/*
*.recipe
*.tlog
*.tlog
*.obj
x64/*
C:\Users\dev\Desktop\Vandal_new\Vandal\lib\voyager-sdk\include\voyager\*
